header {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: auto;
}

#titulo {
    padding: 2%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8%;
    padding-right: 8%;
}

.menu-option {
    display: flex;
    align-items: center;
    gap: 8%;
}

.header-icon {
    height: 20px;
}

#search {
    display: none;
}

#search-input {
    display: none;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid #FB2576;
    color: #f6f6f6;
    padding: 1em;
}

#search-input::placeholder {
    font-size: 16px;
}

#search:checked ~ #search-input {
    display: block;
    position: bottom;
}

#home {
    display: none;
}

.item-menu {
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.5s;
    color: var(--white);
}

.item-menu:hover {
    background-color: var(--pink);
    border-radius: 10px;
    color: var(--black);
    font-weight: bold;
}

#profile {
    display: none
}

.profile-lista {
    display: none;
    position: absolute;
    background-color: var(--black);
    list-style: none;
    align-items: end;
}

#profile:checked ~ .profile-lista {
    display: flex;
    flex-direction: column;
    z-index: 1;
    top: 100%;
    text-decoration: none;
    text-align: right;
    padding: 24px;
    gap: 16px;
}

.profile-lista-item {
    transition: 0.5s;
    border-radius: 10px;
    padding: 8px;
}

.profile-lista-item:hover {
    background-color: var(--pink);
    color: var(--black);
}

.profile-lista-link {
    text-decoration: none;
    width: 100%;
}

.profile-lista-link:hover {
    color: var(--black);
}

@media screen and (max-width: 1024px) {

    #profile:checked ~ .profile-lista {
        margin-left: 200px;
    }

    .profile-lista-item {
        padding: 8px;
    }

}

@media screen and (max-width: 768px) {

    #titulo {
        height: 24px;
    }

    .menu {
        gap: 32px;
        padding-right: 4%;
    }

    .item-menu {
        display: none;
    }

    .header-icon {
        height: 20px;
    }

    #profile:checked ~ .profile-lista {
        padding: 16px;
        gap: 8px;
    }
    
}